{deps, [{aecuckooprebuilt,
         {aecuckooprebuilt_app_with_priv_from_git, {git, "https://github.com/aeternity/cuckoo-prebuilt.git",
                                                    {ref, "90afb699dc9cc41d033a7c8551179d32b3bd569d"}}}},

        {aecuckoo,
         {git, "https://github.com/aeternity/aecuckoo.git", {branch, "master"}}},

        {enacl, {git, "https://github.com/aeternity/enacl.git",
                {ref, "26180f4"}}}
       ]}.

{plugins, [{rebar_aecuckooprebuilt_dep, {git, "https://github.com/aeternity/rebar3-cuckoo-prebuilt-plugin.git",
                                         {ref, "2b2f3b3cf969ee91ba41d8351f3808530a8bf28e"}}}
          ]}.

