{deps, [
        {hut, "1.3.0"},

        %% Cuckoo prebuilt CUDA binaries.
        {aecuckooprebuilt,
         {aecuckooprebuilt_app_with_priv_from_git, {git, "https://github.com/aeternity/cuckoo-prebuilt.git",
                                                    {ref, "90afb699dc9cc41d033a7c8551179d32b3bd569d"}}}},

        %% Cuckoo CPU miners (not prebuilt).
        {aecuckoo, {git, "https://github.com/aeternity/aecuckoo.git",
                    {ref, "996ffcd"}}},

        %% This is used just in one place, just to get blake2b_256 hash.
        {enacl, {git, "https://github.com/aeternity/enacl.git",
                {ref, "67fceef"}}}
       ]}.

{plugins, [{rebar_aecuckooprebuilt_dep, {git, "https://github.com/aeternity/rebar3-cuckoo-prebuilt-plugin.git",
                                         {ref, "3981d79"}}}
          ]}.

{profiles, [{test, [{deps, [{meck, "0.8.13"}]}]}]}.

{dialyzer, [{warnings, [unknown]},
            {plt_apps, all_deps},
            {base_plt_apps, [erts, kernel, stdlib, crypto]}
           ]}.

